body {
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 32%, rgba(252,70,107,1) 100%); }

.headwrapper {
    display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-between;
   padding: 1rem;
   background: rgb(63,94,251);
   background: radial-gradient(circle, rgb(51, 76, 201) 32%, rgb(192, 55, 83) 100%);
   border-style: solid;
    border-color: black;
    border-radius: 30px 30px 30px 30px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-items: center;
    align-items: center;
    
    
}

.navtext {
    list-style: none;
    color: black;
    text-decoration: none;
    letter-spacing: 0.5rem;
    margin: 2rem;
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
    
    
}

.recensioni1 {
    
    position: absolute;
    display: flex;
    
    font-family: 'Anton', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    margin: 1rem;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgb(51, 76, 201) 32%, rgb(192, 55, 83) 100%);
    border-style: solid;
     border-color: black;
     border-radius: 30px 30px 30px 30px;
    
    

}
.recensionitxt {
    text-decoration: none;
    list-style: none;
    margin: 1rem;
    color: black;
}

.logo {
    max-width: 100px;
    
}

.centraltext {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'The Nautigal', cursive;
    margin-bottom: 5rem;
    margin-top: 5rem;
    font-weight: 600px;


}
#principaltxt {
    font-size: 5rem;
    color: rgb(240, 176, 39);
    
}

#subtext {
    font-size: 2rem;
}

.myname {
    font-family: 'Comforter Brush', cursive;
    color: rgb(240, 176, 39);
    
}

.anteprima {
    width: 560px; 
    height: 315px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    margin: 10px;
    background-color: black;
}

.anteprimecontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.lastcontentwrapper {
    text-align: center;
    font-family: 'Comforter Brush', cursive;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
}


hr {
    border-style: solid;
    background-color: black;
    border-width: 1px;
}

.loghi {
    width: auto;
    height: 50px;
    
    margin: 1rem;

}

.piedipagina {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgb(51, 76, 201) 32%, rgb(192, 55, 83) 100%);
    margin-right: 1rem;
}